*.sdf
*.pdf
*.exe
*.user



ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVConfig.cmake
ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVModules.cmake
ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVModules-debug.cmake
ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVModules-release.cmake


ExternalDLL/ExternalDLL/Debug/
FaceRecognitionGUI/FaceRecognitionGUI/bin/
FaceRecognitionGUI/FaceRecognitionGUI/obj/

!ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/*.lib
ExternalDLL/Debug/
*.opensdf
ExternalDLL/ExternalDLL/Release/
ExternalDLL/Release/
